@import url(https://fonts.googleapis.com/css?family=Special+Elite:regular);
@import url(
  https://fonts.googleapis.com/css?family=Oswald:200,
  300,
  regular,
  500,
  600,
  700
);

h1 {
  margin: '15px';
  font-family: 'Special Elite';
  font-weight: normal;
  font-size: 3rem;
  align-self: center;
}

.first {
  text-align: left;
  color: navajowhite;
  position: absolute;
  top: -12px;
  left: 8px;
}

.second {
  position: absolute;
  top: -8px;
  left: 7px;
  color: palevioletred;
  mix-blend-mode: darken;
}

.third {
  position: absolute;
  top: -5px;
  left: 3px;
  color: darkturquoise;
  mix-blend-mode: color-burn;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  padding: 0 1rem;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: block;
  align-self: flex-end;
}
