@import url(https://fonts.googleapis.com/css?family=Special+Elite:regular);

.grit {
  -webkit-mask-image: url('http://support.nature.org/images/earth/assets/grit.png');
  mask-image: url('http://support.nature.org/images/earth/assets/grit.png');
}

main {
  display: flex;
}

h2 {
  font-family: 'liberator';
  font-size: 1rem;
}

li {
  font-family: 'Special Elite';
  font-size: 13px;
}

.map {
  border-radius: 2%;
}

#map-container {
  flex: 2;
  height: calc(100vh - 0.5rem);
  overflow: hidden;
  padding-top: 3rem;
  overflow: hidden;
  border-radius: 2%;
  background-color: #a8d0e6;
}

aside {
  flex: 0.45;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  width: 25px;
  background-color: #a8d0e6;
}

.panel {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem;
  padding: 1rem;
  border-radius: 0.5em;
  background-color: whitesmoke;
  color: #bc4639;
  border-color: #f76c6c;
  border-style: solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.panel > div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.panel > div:first-child {
  margin-top: 0.75em;
}

select {
  width: 20vh;
  font-size: 12px;
  -webkit-appearance: menulist-button;
}

input {
  width: 20vh;
}

.options-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
}

.options-btn:hover {
  background: #4283aa;
}

.options-btn:active {
  background: #286090;
}

#selected-locations-list {
  list-style-type: none;
}

.rmv-fvt-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: maroon;
  border: 0;
  color: #fff;
  align-self: flex-end;
}

.rmv-fvt-btn:hover {
  background: red;
}

.rmv-fvt-btn:active {
  background: brown;
}
