@import url(https://fonts.googleapis.com/css?family=Special+Elite:regular);
@import url(
  https://fonts.googleapis.com/css?family=Oswald:200,
  300,
  regular,
  500,
  600,
  700
);

main {
  display: flex;
}

h2 {
  /* font-family: 'Oswald'; */
  font-size: 1rem;
}

#map-container {
  flex: 2;
  height: calc(100vh - 0.5rem);
  overflow: hidden;
  padding-top: 3rem;
  overflow: hidden;
}

aside {
  flex: 0.45;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  width: 25px;
  background-color: whitesmoke;
}

.panel {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem;
  padding: 1rem;
  border-radius: 0.5em;
  background-color: #efecea;
  color: #aaa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.panel > div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.panel > div:first-child {
  margin-top: 0.75em;
}

select {
  width: 20vh;
  font-size: 12px;
  -webkit-appearance: menulist-button;
}

input {
  width: 20vh;
}

.options-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
}

.options-btn:hover {
  background: #4283aa;
}

.options-btn:active {
  background: #286090;
}

#selected-locations-list {
  list-style-type: none;
}

.rmv-fvt-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: maroon;
  border: 0;
  color: #fff;
  align-self: flex-end;
}

.rmv-fvt-btn:hover {
  background: red;
}

.rmv-fvt-btn:active {
  background: brown;
}
